[Desktop Entry]
Name=PIM Setting Exporter
Exec=pimsettingexporter
Type=Application
Icon=kontact
Comment=PIM Setting Exporter allows to save all data from PIM apps and restore them in other system.
Terminal=false
Categories=Qt;KDE;Office;Network;Email;
X-DocPath=pimsettingexporter/index.html
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.pimsettingexporter
