[Desktop Entry]
Name=PIM Data Exporter
Name[ar]=مصدّر بيانات إدارة البيانات الشخصية
Name[az]=PİM verilənlərinin ixracatçısı
Name[bg]=Експортиране на данни на PIM
Name[ca]=Exportador de les dades PIM
Name[ca@valencia]=Exportador de les dades PIM
Name[cs]=Exportér dat PIM
Name[da]=Eksportør til PIM-data
Name[de]=PIM-Daten-Export
Name[en_GB]=PIM Data Exporter
Name[eo]=PIM-Datumeksportilo
Name[es]=Exportador de preferencias de PIM
Name[et]=PIM-i andmete eksportija
Name[eu]=PIM datu-esportatzailea
Name[fi]=PIM-tietojen vienti
Name[fr]=Export des données « PIM »
Name[gl]=Exportador de datos de PIM
Name[he]=מייצא נתוני PIM
Name[hu]=PIM adatexportáló
Name[ia]=PIM Data Exporter
Name[is]=PIM-gagnaútflutningur
Name[it]=Esportatore dei dati di PIM
Name[ka]=PIM -ის მონაცემების გატანა
Name[ko]=PIM 데이터 내보내기
Name[lv]=PIM datu eksportētājs
Name[nl]=PIM-exportprogramma van gegevens
Name[nn]=Dataeksport frå PIM
Name[pl]=Eksportowanie danych ZIO
Name[pt]=Exportação de Dados PIM
Name[pt_BR]=Exportador de dados PIM
Name[ru]=Экспорт данных PIM
Name[sa]=पीआईएम डाटा निर्यातक
Name[sk]=Nástroj na export údajov PIM
Name[sl]=Izvoznik nastavitev programov za upravljanje osebnih podatkov
Name[sv]=Export av data för personlig informationshantering
Name[tr]=PIM Verisi Dışa Aktarıcısı
Name[uk]=Інструмент експортування даних
Name[x-test]=xxPIM Data Exporterxx
Name[zh_CN]=个人信息管理数据导出器
Name[zh_TW]=PIM 資料匯出工具
Exec=pimdataexporter
Type=Application
Icon=kontact
GenericName=Saves and restores all data from PIM apps
GenericName[ar]=تحفظ وتستعيد كل بيانات من جميع تطبيقات إدارة البيانات الشخصية
GenericName[az]=PİM tətbiqlərindən bütün verilənləri saxlayır və bərpa edir
GenericName[bg]=Запазва и възстановява всички данни от приложенията на PIM
GenericName[ca]=Desa i emmagatzema totes les dades de les aplicacions PIM
GenericName[ca@valencia]=Guarda i emmagatzema totes les dades de les aplicacions PIM
GenericName[cs]=Ukládá a obnovuje všechna data z aplikací PIM
GenericName[da]=Gemmer og genopretter alle data fra PIM-programmer
GenericName[de]=Speichert alle Daten von PIM-Anwendungen und stellt sie wieder her
GenericName[en_GB]=Saves and restores all data from PIM apps
GenericName[eo]=Konservas kaj restarigas ĉiujn datumojn de PIM-aplikoj
GenericName[es]=Guarda y restaura todos los datos de las aplicaciones PIM
GenericName[et]=PIM-rakenduste kõigi andmete salvestamine ja taastamine
GenericName[eu]=PIM aplikazio guztien datuak gorde eta berrezartzen ditu
GenericName[fi]=Tallentaa ja palauttaa kaikkien PIM-sovellusten tietoja
GenericName[fr]=Enregistre et restaure toutes les données des applications « PIM »
GenericName[gl]=Garda e restaura todos os datos de aplicativos de xestión de información persoal
GenericName[he]=שומר ומשחזר את כל הנתונים מיישומי PIM (ניהול מידע אישי) ואליהם
GenericName[hu]=Menti és visszaállítja a PIM alkalmazások összes adatát
GenericName[ia]=Salveguarda e restabili omne datos ex apps de PIM
GenericName[is]=Vistar og endurheimtir öll gögn úr PIM-forritum
GenericName[it]=Salva e ripristina tutti i dati dalle applicazioni di PIM
GenericName[ka]=PIM აპებიდან მონაცემების შენახვა და აღდგენა
GenericName[ko]=PIM 앱의 모든 데이터 저장 및 복원
GenericName[lv]=Saglabā un atjauno visus datus no PIM programmām
GenericName[nl]=Slaat op en herstelt alle gegevens van PIM toepassingen
GenericName[nn]=Lagrar og gjenopprettar alle data frå PIM-program
GenericName[pl]=Zapisuje i przywraca wszystkie dane z aplikacji ZIO
GenericName[pt]=Grava e repõe todos os dados das aplicações PIM
GenericName[pt_BR]=Salva e restaura todos os dados dos aplicativos PIM
GenericName[ru]=Сохраняет и восстанавливает все данные PIM-приложений.
GenericName[sa]=PIM apps तः सर्वाणि आँकडानि रक्षति पुनर्स्थापयति च
GenericName[sk]=Uloží a obnoví všetky údaje z PIM aplikácií
GenericName[sl]=Shranjuje in obnavlja vse podatke iz aplikacij upravljanja osebnih podatkov
GenericName[sv]=Sparar och återställer all data från program för personlig informationshantering
GenericName[tr]=PIM Verisi Yönetimi Uygulaması
GenericName[uk]=Збереження і відновлення усіх даних програм PIM
GenericName[x-test]=xxSaves and restores all data from PIM appsxx
GenericName[zh_CN]=保存并恢复所有来自个人信息管理应用程序的数据
GenericName[zh_TW]=從 PIM 應用程式儲存或復原所有資料
Comment=PIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.
Comment[ar]=يتيح لك «مصدّر إعدادات إدارة البيانات الشخصية» حفظ كلّ البيانات من تطبيقات إدارة البيانات الشخصية واسترجاعها في الأنظمة الأخرى.
Comment[az]=PİM Ayarlar İxracatçısı PİM tətbiqlərindən bütün verilənləri saxlamağa və onları başqa sistemdə bərpa etməyə imkan verir.
Comment[bg]=Програмата за експортиране на настройките на PIM позволява да се запазят всички данни от приложенията на PIM и впоследствие да се възстановят в други системи.
Comment[ca]=L'exportador de la configuració PIM permet desar totes les dades de les aplicacions PIM i restaura-les en altres sistemes.
Comment[ca@valencia]=L'exportador de la configuració PIM permet guardar totes les dades de les aplicacions PIM i restaura-les en altres sistemes.
Comment[cs]=Exportér nastavení PIM vám umožní uložit všechna data z aplikací PIM a obnovit je na jiných systémech.
Comment[da]=Eksportør af PIM-indstillinger lader dig gemme alle data fra PIM-programmer og gendanne dem på andre systemer.
Comment[de]=Speichert alle Daten von PIM-Anwendungen, um sie später in anderen Systemen wiederherzustellen.
Comment[en_GB]=PIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.
Comment[eo]=PIM-Agordeksportilo permesas konservi ĉiujn datumojn de PIM-aplikoj kaj restarigi ilin en aliaj sistemoj.
Comment[es]=El exportador de preferencias de PIM permite guardar todos los datos de las aplicaciones PIM y restaurarlos en otros sistemas.
Comment[et]=PIM-i seadistuste eksportija võimaldab salvestada kõik PIM-i rakenduste andmed ja taastada need teises süsteemis.
Comment[eu]=PIM ezarpen-esportatzaileak PIM aplikazioen datu guztiak gordetzen uzten du beste sistema batzuetan berrezartzeko.
Comment[fi]=PIM-tietojen vienti tallentaa PIM-sovellusten kaikki tiedot palautettavaksi toisessa järjestelmässä.
Comment[fr]=L'export des paramètres « PIM » permet d'enregistrer toutes les données personnelles « PIM » des applications pour les restaurer ultérieurement sur d'autres systèmes.
Comment[gl]=O exportador da configuración PIM permite gardar todos os datos dos aplicativos PIM e restaurala noutros sistemas.
Comment[he]=מייצא הגדרות PIM (ניהול מידע אישי) מאפשר לך לשמור את כל הנתונים מיישומי ה־PIM שלך ולשחזר אותם במערכות אחרות.
Comment[hu]=A PIM beállítás exportáló lehetővé teszi az összes adat mentését a PIM alkalmazásokból és azok helyreállítását egy másik rendszeren.
Comment[ia]=PIM Setting Exporter (Exportator de preferentias de PIM) permitte de salveguardar tote datos ex apps de PIM  e restabili los in altere systema.
Comment[is]=PIM-stillingaútflutningur gerir þér kleift að vista öll gögn úr PIM-forritum og endurheimta þau í öðrum tölvum.
Comment[it]=L'applicazione per la esportazione delle impostazioni di PIM consente di salvare tutti i dati dalle applicazioni di PIM e ripristinarli successivamente in altri sistemi.
Comment[ka]=PIM-ის პარამეტრების გამტანი საშუალებას გაძლევთ PIM აპლიკაციების ყველა მონაცემი შეინახოთ და აღადგინოთ ის სხვა სისტემაზე.
Comment[ko]=PIM 설정 내보내기 도구는 PIM 앱의 모든 데이터를 저장하고 다른 시스템에서 복원할 수 있도록 합니다.
Comment[lv]=PIM iestatījumu eksportētājs ļauj saglabāt visus datus no PIM programmām un tos atjaunot citās sistēmās.
Comment[nl]=PIM-exportprogramma van instellingen stelt u in staat alle gegevens van PIM-toepassingen op te slaan en ze in andere systemen te herstellen.
Comment[nn]=Gjer det mogleg å lagra alle data frå PIM-program og gjenoppretta dei på andre system.
Comment[pl]=Eksportowanie danych ZIO zapisuje wszystkie dane z aplikacji ZIO i przywraca je na innych systemach.
Comment[pt]=A Exportação das Definições PIM permite-lhe guardar todos os dados das aplicações PIM e repô-los noutros sistemas.
Comment[pt_BR]=O Exportador de dados PIM permite salvar todos os dados de aplicativos PIM e restaurá-los em outro sistema.
Comment[ru]=Средство экспорта данных PIM позволяет сохранить все данные PIM-приложений и восстановить их в других системах.
Comment[sa]=PIM Setting Exporter इत्यनेन PIM apps तः सर्वाणि आँकडानि रक्षितुं अन्येषु प्रणालीषु पुनः स्थापयितुं च शक्यते ।
Comment[sk]=Nástroj na export nastavení PIM umožní uložiť všetky dáta z PIM aplikácií a obnoviť ich na inom systéme.
Comment[sl]=Izvoznik nastavitev PIM omogoča shranjevanje podatkov vseh programov za upravljanje osebnih podatkov in obnavljanje teh podatkov na drugih sistemih.
Comment[sv]=Export av inställningar för personlig informationshantering gör det möjligt att spara all data från program för personlig informationshantering och återställa dem på andra system.
Comment[tr]=PIM Ayar Dışa Aktarıcısı, tüm PIM uygulamalarındaki veriyi kaydedip diğer sistemlerde geri yüklemenizi sağlar.
Comment[uk]=За допомогою програми для експортування параметрів системи особистих даних ви зможете зберегти всі параметри програм для роботи з особистими даним, а потім відновити їх у інших системах.
Comment[x-test]=xxPIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.xx
Comment[zh_CN]=个人信息管理设置导出器可以保存所有个人信息管理程序的数据并且将其在其他系统中恢复。
Comment[zh_TW]=PIM 資料匯出工具可以將 PIM 應用程式裡的資料儲存並回復到其他系統中。
Categories=Qt;KDE;Network;Email;
X-DocPath=pimdataexporter/index.html
SingleMainWindow=true
Version=1.5
