[Desktop Entry]
Name=PIM Data Exporter
Name[ca]=Exportador de les dades PIM
Name[ca@valencia]=Exportador de les dades PIM
Name[de]=PIM-Daten-Export
Name[es]=Exportador de preferencias de PIM
Name[it]=Esportatore dei dati di PIM
Name[nl]=PIM-exportprogramma van gegevens
Name[pl]=Eksportowanie danych ZIO
Name[pt]=Exportação de Dados PIM
Name[pt_BR]=Exportador de dados PIM
Name[sk]=Exportovač údajov PIM
Name[sv]=Export av data för personlig informationshantering
Name[uk]=Інструмент експортування даних
Name[x-test]=xxPIM Data Exporterxx
Exec=pimdataexporter
Type=Application
Icon=kontact
GenericName=Saves and restores all data from PIM apps
GenericName[ca]=Desa i emmagatzema totes les dades de les aplicacions PIM
GenericName[ca@valencia]=Guarda i emmagatzema totes les dades de les aplicacions PIM
GenericName[de]=Speichert alle Daten von PIM-Anwendungen und stellt sie wieder her
GenericName[es]=Guarda y restaura todos los datos desde aplicaciones PIM
GenericName[it]=Salva e ripristina tutti i dati dalle applicazioni di PIM
GenericName[ko]=PIM 앱의 모든 데이터 저장 및 복원
GenericName[nl]=Slaat op en herstelt alle gegevens van PIM toepassingen
GenericName[pl]=Zapisuje i przywraca wszystkie dane z aplikacji ZIO
GenericName[pt]=Grava e repõe todos os dados das aplicações PIM
GenericName[pt_BR]=Salva e restaura todos os dados dos aplicativos PIM
GenericName[sk]=Uloží a obnoví všetky údaje z PIM aplikácií
GenericName[sv]=Sparar och återställer all data från program för personlig informationshantering
GenericName[uk]=Збереження і відновлення усіх даних програм PIM
GenericName[x-test]=xxSaves and restores all data from PIM appsxx
Comment=PIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.
Comment[ca]=L'exportador de la configuració PIM permet desar totes les dades de les aplicacions PIM i restaura-les en altres sistemes.
Comment[ca@valencia]=L'exportador de la configuració PIM permet guardar totes les dades de les aplicacions PIM i restaura-les en altres sistemes.
Comment[de]=Speichert alle Daten von PIM-Anwendungen, um sie später in anderen Systemen wiederherzustellen.
Comment[en_GB]=PIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.
Comment[es]=El exportador de preferencias de PIM permite guardar todos los datos de aplicaciones PIM y restaurarlos en otros sistemas.
Comment[it]=L'applicazione per la esportazione delle impostazioni di PIM consente di salvare tutti i dati dalle applicazioni di PIM e ripristinarli successivamente in altri sistemi.
Comment[ko]=PIM 설정 내보내기 도구는 PIM 프로그램의 모든 데이터를 저장하고 다른 시스템에서 복원할 수 있도록 합니다.
Comment[nl]=PIM-exportprogramma van instellingen stelt u in staat alle gegevens van PIM-toepassingen op te slaan en ze in andere systemen te herstellen.
Comment[pl]=Eksportowanie danych ZIO zapisuje wszystkie dane z aplikacji ZIO i przywraca je na innych systemach.
Comment[pt]=A Exportação das Definições PIM permite-lhe guardar todos os dados das aplicações PIM e repô-los noutros sistemas.
Comment[pt_BR]=O Exportador de dados PIM permite salvar todos os dados de aplicativos PIM e restaurá-los em outro sistema.
Comment[sk]=Exportovač nastavenia PIM umožní uložiť všetky dáta z PIM aplikácií a obnoviť ich na inom systéme.
Comment[sv]=Export av inställningar för personlig informationshantering gör det möjligt att spara all data från program för personlig informationshantering och återställa dem på andra system.
Comment[uk]=За допомогою програми для експортування параметрів системи особистих даних ви зможете зберегти всі параметри програм для роботи з особистими даним, а потім відновити їх у інших системах.
Comment[x-test]=xxPIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.xx
Terminal=false
Categories=Qt;KDE;Network;Email;
X-DocPath=pimdataexporter/index.html
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.pimdataexporter
