[Desktop Entry]
Name=PIM Setting Exporter
Name[ar]=مصدّر إعدادات PIM
Name[bs]=Izvoženje PIM postavki
Name[ca]=Exportador de la configuració PIM
Name[ca@valencia]=Exportador de la configuració PIM
Name[cs]=Exportér nastavení PIM
Name[da]=Eksportør til PIM-indstillinger
Name[de]=PIM-Einstellungs-Export
Name[el]=Εξαγωγέας ρυθμίσεων PIM
Name[en_GB]=PIM Setting Exporter
Name[es]=Exportador de preferencias de PIM
Name[et]=PIM-i seadistuste eksport
Name[fi]=PIM-asetusten vienti
Name[fr]=Export des paramètres PIM
Name[gl]=Exportador da configuración PIM
Name[hu]=PIM beállítás exportáló
Name[ia]=PIM Setting Explorer (Exportator de preferentias de PIM)
Name[it]=Esportatore delle impostazioni di PIM
Name[kk]=PIM баптауын экспорты
Name[km]=កម្មវិធី​នាំចេញ​ការ​កំណត់​របស់ PIM
Name[ko]=PIM 설정 내보내기
Name[lt]=PIM nustatymų eksportavimo programa
Name[mr]=PIM संयोजना निर्यात करणारा
Name[nb]=PIM-oppsettseksport
Name[nds]=PIM-Instellen-Exportprogramm
Name[nl]=PIM-exportprogramma van instellingen
Name[pl]=Eksporter ustawień ZIO
Name[pt]=Exportação das Definições PIM
Name[pt_BR]=Exportação das Definições PIM
Name[ro]=Exportator de configurări PIM
Name[ru]=Экспорт данных PIM
Name[sk]=Exportovač nastavenia PIM
Name[sl]=Izvoznik nastavitev PIM
Name[sr]=Извозник ПИМ поставки
Name[sr@ijekavian]=Извозник ПИМ поставки
Name[sr@ijekavianlatin]=Izvoznik PIM postavki
Name[sr@latin]=Izvoznik PIM postavki
Name[sv]=Export av inställningar för personlig informationshantering
Name[tr]=PIM Ayar Aktarıcı
Name[uk]=Інструмент експортування параметрів
Name[wa]=Ebagueu d' apontiaedje PIM
Name[x-test]=xxPIM Setting Exporterxx
Name[zh_CN]=个人信息管理设置导出器
Name[zh_TW]=PIM 設定匯出器
Exec=pimsettingexporter
Type=Application
Icon=kontact
GenericName=Saves and restores all data from PIM apps
GenericName[ca]=Desa i emmagatzema totes les dades de les aplicacions PIM
GenericName[ca@valencia]=Guarda i emmagatzema totes les dades de les aplicacions PIM
GenericName[it]=Salva e ripristina tutti i dati dalle applicazioni di PIM
GenericName[ko]=PIM 앱의 모든 데이터 저장 및 복원
GenericName[nl]=Slaat op en herstelt alle gegevens van PIM toepassingen
GenericName[pt]=Grava e repõe todos os dados das aplicações PIM
GenericName[sv]=Sparar och återställer all data från program för personlig informationshantering
GenericName[uk]=Збереження і відновлення усіх даних програм PIM
GenericName[x-test]=xxSaves and restores all data from PIM appsxx
Comment=PIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.
Comment[ca]=L'exportador de la configuració PIM permet desar totes les dades de les aplicacions PIM i restaura-les en altres sistemes.
Comment[ca@valencia]=L'exportador de la configuració PIM permet guardar totes les dades de les aplicacions PIM i restaura-les en altres sistemes.
Comment[en_GB]=PIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.
Comment[it]=L'applicazione per la esportazione delle impostazioni di PIM consente di salvare tutti i dati dalle applicazioni di PIM e ripristinarli successivamente in altri sistemi.
Comment[ko]=PIM 설정 내보내기 도구는 PIM 프로그램의 모든 데이터를 저장하고 다른 시스템에서 복원할 수 있도록 합니다.
Comment[nl]=PIM-exportprogramma van instellingen stelt u in staat alle gegevens van PIM-toepassingen op te slaan en ze in andere systemen te herstellen.
Comment[pt]=A Exportação das Definições PIM permite-lhe guardar todos os dados das aplicações PIM e repô-los noutros sistemas.
Comment[sv]=Export av inställningar för personlig informationshantering gör det möjligt att spara all data från program för personlig informationshantering och återställa dem på andra system.
Comment[uk]=За допомогою програми для експортування параметрів системи особистих даних ви зможете зберегти всі параметри програм для роботи з особистими даним, а потім відновити їх у інших системах.
Comment[x-test]=xxPIM Setting Exporter allows to save all data from PIM apps and restore them in other systems.xx
Terminal=false
Categories=Qt;KDE;Network;Email;
X-DocPath=pimsettingexporter/index.html
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.pimsettingexporter
